main {
  filter: blur(1px);
  border: 5px solid #f44336;
}

.fixed {
  width:96px;
  height: 96px;
  font-size: 96px;
  font-weight: bolder;
  text-align: center;
  border: none;
  line-height: 96px;
  background-color: #ffdf2b;
  position: fixed;
  top:100px;
}
